:root {
  --primary-color: rgb(72, 19, 121);
  --font-size-small: 14px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand';
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* navbar style */
nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
}

nav a:hover {
  color: black;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #f8f9fa;
}

nav input {
  border-radius: 20px;
  width: 50vw;
  height: 40px;
  border: 2px solid var(--primary-color);
  padding: 10px;
}

nav input:focus {
  outline: none;
}

nav li.mobile {
  display: none;
}
div.mobile-menu {
    display: none;
    height: 100vh; 
    background-color: white;
    position: absolute; 
    right: 0; 
    top: 0; 
    z-index: 500; 
    line-height: 50px; 
    padding: 10px 30px;
}
div.mobile-menu ul {
    list-style-type: none;
    padding: 0;
}

.logo-img {
  width: 200px;
  height: 50px;
}

section {
  padding: 20px 10vw;
}

/* Hero section */
#hero {
  display: flex;
  margin: auto;
  gap: 20px;
  width: 100%;
  height: 70vh;
}

#hero h2 {
  font-size: 24px;
  width: 70%;
}

#hero h4, #hero span {
  color: #fff;
  font-size: 10px;
  text-align: left;
}

#hero h4 {
  font-size: 16px;
  font-weight: 600;
}

#hero .the-future {
  background:
    url(/images/figure.svg) no-repeat 90% 100%,
    linear-gradient(to right, #fff, #d8c1e5, #E0C3FC 100%);
  background-size: auto 60%;
  width: 70%;
  padding: 50px;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.the-future button {
  border: none;
  background-color: var(--primary-color);
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 30px 0;
  transition: all .3s ease;
}

.the-future button:hover {
  background-color: rgb(100, 50, 170);
}

.the-future button:active {
  transform: translateY(5px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

#hero .hero-side {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-right {
  height: 50%;
  transition: all .3s ease-in-out;
}

.hero-right:nth-of-type(1) {
  background: 
    url(/images/david-svihovec-uyu_IZPC73U-unsplash-removebg-preview.png) no-repeat 100% 150%,
    radial-gradient(circle at center, #d8c1e5 , #E0C3FC, rgb(72, 19, 121) 100%);;
  background-size: 60% auto, cover;
  border-radius: 12px;
  padding: 32px 20px;
}

.hero-right:nth-of-type(2) {
  background: 
  url(/images/high-angle-smart-speaker-home\ 1.svg) no-repeat 200%,
  radial-gradient(circle at center, #E0C3FC, rgb(72, 19, 121), #000 100%);
  background-size: 80% auto, cover;
  border-radius: 12px;
  padding: 32px 20px;
}

.hero-right:hover {
  box-shadow: 0 5px 15px rgba(72,19,121,0.3);
  transform: translateY(5px);
}


.shop-now {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  padding: 0;
  margin-top: 30px;
}

/* Featured Categories */
.categories-header {
  border-bottom: 2px solid #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.categories-header h4 {
  font-size: 18px;
  font-weight: 600;
}

.categories-header span {
  background-color: #f8f9fa;
  margin-right: 8px;
  padding: 3px 8px;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.categories-header span:hover {
  background-color: #d8c1e5;
  color: var(--primary-color);
  cursor: pointer;
}

.categories-header a {
  font-size: var(--font-size-small);
  color: var(--primary-color);
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.categories-header a i {
  font-size: 10px;
  margin-left: 5px;
}

.categories-header a:hover {
  color: #E0C3FC;
}

.categories-list a, .list {
  text-decoration: none;
  list-style: none;
}

.categories-list {
  display: flex;
  align-items: baseline;
  gap: 20px;
  overflow-x: hidden;
  padding: 20px 0;
}

.categories-list .list {
  min-width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in-out;
}
.categories-list .list .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 20px;
  background-color: #f8f9fa;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

/* .left:disabled, .right:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #999;
  color: #f8f9fa;
  opacity: .5;
}
.left:disabled:hover,
.right:disabled:hover {
  background-color: #999;
  color: #f8f9fa;
} */

.categories-list .list .icon-wrapper svg {
  height: 30px;
  width: 30px;
}

.categories-list .list .icon-wrapper:hover  {
  background-color: rgba(216, 193, 229, .3);
}

.categories-list .list .icon-wrapper:hover svg {
  stroke: var(--primary-color);
}

.list a {
  font-size: var(--font-size-small);
  width: 70%;
  color: #000;
}

.list  a:hover {
  color: var(--primary-color);
}

/* New arrivals (and other products) */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 40px;
  gap: 20px;
  grid-row-gap: 40px;
}

.products .product-item {
  width: 200px;
  height: 250px;
}

.products .product-item .product-img {
  width: 200px;
  height: 200px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 13px;
  margin-bottom: 10px;
}

.product-img img {
  width: 120px;
  height: 120px;
  transition: all .3s ease-in-out;
}

.product-img:hover img {
  transform: scale(1.15);
}

.product-details {
  display: grid;
  grid-template-columns: 80% 20px;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.product-details h3 {
  font-size: 10px;
  margin-bottom: 0;
}

.product-details svg {
  width: 15px;
  height: 15px;
}

.product-details svg:hover {
  cursor: pointer;
}

.product-details svg #Vector {
  fill: none;
  transition: all .3s ease-in-out;
}

.product-details svg #Vector_2 {
  stroke: var(--primary-color);
  transition: all .3s ease-in-out;
}

.product-details svg:hover, svg:active #Vector {
  fill: var(--primary-color);
}

.product-details p {
  font-size: var(--font-size-small);
  padding-top: 10px;
  align-self: last baseline;
}


/* Mobile Responsiveness */
@media (max-width: 1200px) {
  .item-name,
    .price,
    .subtotal {
      font-size: .7rem;
    }
  
    nav li.desktop {
      display: none;
    }
  
    nav li.mobile {
      display: block;
    }
  
    .logo-img {
      width: 120px;
      height: 40px;
    }
  
    nav ul {
      padding: 10px 10px;
    }
  #hero {
    height: 40vh;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}

@media (max-width: 860px) {
  #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    height: auto;
  } 
  #hero .the-future {
    width: 100%;
  }
  #hero .hero-side {
    width: 100%;
    flex-direction: row;
    height: auto;
  }
  .hero-right {
    width: 48%;
    height: auto;
  }
  .hero-right:nth-of-type(1) {
    background-size: 70% auto , cover;
    background-position: 110% 120%;
  }
  .hero-right:nth-of-type(2) {
    background-size: 80% auto, cover;
    background-position: 200% 120%;
  }

  .product-img:hover img {
    scale: 1.1;
  }

}

@media (max-width: 540px) {
  #hero {
      height: 40vh;
    }
  #hero .the-future {
    background-size: 60% auto, cover;
    height: 60%;
    font-size: smaller;
    padding: 20px;
  }
  #hero .hero-side {
    height: 40%;
  }
  .hero-right:nth-of-type(1), .hero-right:nth-of-type(2) {
    padding: 10px 20px;
    font-size: 12px;
  }
    .categories-list {
      gap: 0px;
    }
    .categories-list .list {
      min-width: 120px;
      height: 150px;
      gap: 10px;
    }
  .products {
    display: flex;
    justify-content: left;
    align-items: center;
    height: fit-content;
    overflow-x: scroll;
    height: 45vh
  }
  .products::-webkit-scrollbar {
    height: 20px;
  }
}

@media (max-width: 420px) {
  .products {
    height: 35vh;
  }

}