:root {
  --primary-color: rgb(72, 19, 121);
  --font-size-small: 14px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand';
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

/* navbar style */
nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
}
span.cart-counter {
    background-color: rgb(72, 19, 121);
    color: white;
    border-radius: 50%;
    width: 12px;
    text-align: center;
    font-size: 8px;
    height: 12px;
    position: absolute;
}
nav a:hover {
  color: black;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #f8f9fa;
}

.input {
  border-radius: 20px;
  width: 50vw;
  height: 40px;
  border: 2px solid var(--primary-color);
  padding: 10px;
}

input.mobile {
  display: none;
  width: 80%;
  margin: auto;
}

nav input {
  border-radius: 20px;
  width: 50vw;
  height: 40px;
  border: 2px solid var(--primary-color);
  padding: 10px;
}

nav input,
input.mobile {
  outline: none;
}

nav li.mobile {
  display: none;
}

div.mobile-menu {
  display: none;
  height: 100vh;
  background-color: rgba(72, 19, 121, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 500;
  line-height: 50px;
  padding: 10px 30px;
  backdrop-filter: blur(10px);
}

div.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  color: var(--primary-color);
}

div.mobile-menu ul a {
  text-decoration: none;
  color: var(--primary-color);
}

div.mobile-menu ul a:hover {
  color: rgba(72, 19, 121, 0.3);
}

.logo-img {
  width: 200px;
  height: 50px;
}

section {
  padding: 20px 8vw;
}

/* Hero section */
#hero {
  display: flex;
  margin: auto;
  gap: 20px;
  width: 100%;
  height: 70vh;
}

#hero h2 {
  font-size: 24px;
  width: 70%;
}

#hero h4,
#hero span {
  color: #fff;
  font-size: 10px;
  text-align: left;
}

#hero h4 {
  font-size: 16px;
  font-weight: 600;
}

#hero .the-future {
  background:
    url(/images/figure.svg) no-repeat 90% 100%,
    linear-gradient(to right, #fff, #d8c1e5, #E0C3FC 100%);
  background-size: auto 60%;
  width: 70%;
  padding: 50px;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.the-future button,
.view-all-items {
  border: none;
  background-color: var(--primary-color);
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 30px 0;
  transition: all .3s ease;
}

.the-future button:hover,
.view-all-items:hover {
  background-color: rgb(100, 50, 170);
}

.the-future button:active,
.view-all-items:active {
  transform: translateY(5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

#hero .hero-side {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-right {
  height: 50%;
  transition: all .3s ease-in-out;
}

.hero-right:nth-of-type(1) {
  background:
    url(/images/david-svihovec-uyu_IZPC73U-unsplash-removebg-preview.png) no-repeat 100% 150%,
    radial-gradient(circle at center, #d8c1e5, #E0C3FC, rgb(72, 19, 121) 100%);
  ;
  background-size: 60% auto, cover;
  border-radius: 12px;
  padding: 32px 20px;
}

.hero-right:nth-of-type(2) {
  background:
    url(/images/high-angle-smart-speaker-home\ 1.svg) no-repeat 200%,
    radial-gradient(circle at center, #E0C3FC, rgb(72, 19, 121), #000 100%);
  background-size: 80% auto, cover;
  border-radius: 12px;
  padding: 32px 20px;
}

.hero-right:hover {
  box-shadow: 0 5px 15px rgba(72, 19, 121, 0.3);
  transform: translateY(5px);
}

.shop-now {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  padding: 0;
  margin-top: 30px;
}

/* Featured Categories */
.categories-header {
  border-bottom: 2px solid #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.categories-header h4 {
  font-size: 18px;
  font-weight: 600;
}

.categories-header span {
  background-color: #f8f9fa;
  margin-right: 8px;
  padding: 3px 8px;
  border-radius: 50%;
  transition: all .3s ease-in-out;
  font-weight: 600;
  color: var(--primary-color);
}

.categories-header span:hover {
  background-color: #d8c1e5;
  color: var(--primary-color);
  cursor: pointer;
}

.categories-header a {
  font-size: var(--font-size-small);
  color: var(--primary-color);
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.categories-header a i {
  font-size: 10px;
  margin-left: 5px;
}

.categories-header a:hover {
  color: #E0C3FC;
}

.categories-list a,
.list {
  text-decoration: none;
  list-style: none;
}

.categories-list {
  display: flex;
  align-items: baseline;
  gap: 20px;
  overflow-x: hidden;
  padding: 20px 0;
}

.categories-list .list {
  min-width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in-out;
}

.categories-list .list .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 20px;
  background-color: #f8f9fa;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

/* .left:disabled, .right:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #999;
  color: #f8f9fa;
  opacity: .5;
}
.left:disabled:hover,
.right:disabled:hover {
  background-color: #999;
  color: #f8f9fa;
} */

.categories-list .list .icon-wrapper svg {
  height: 30px;
  width: 30px;
}

.categories-list .list .icon-wrapper:hover {
  background-color: rgba(216, 193, 229, .3);
}

.categories-list .list .icon-wrapper:hover svg {
  stroke: var(--primary-color);
}

.list a {
  font-size: var(--font-size-small);
  width: 70%;
  color: #000;
}

.list a:hover {
  color: var(--primary-color);
}

/* New arrivals (and other products) */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 40px;
  gap: 60px;
  grid-row-gap: 40px;
}

.products .product-item {
  width: 200px;
  height: 250px;
  transition: all .3s ease-in-out;
}

.products .product-item .product-img {
  width: 200px;
  height: 200px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 13px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.product-img img {
  width: 120px;
  height: 120px;
}

.cart-button {
  position: absolute;
  bottom: 0;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  padding: 10px 10px;
  width: 160px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all .3s ease;
  transform: translateY(100%);
}

.cart-button:hover {
  background-color: rgb(100, 50, 170);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
}

.product-img:hover .cart-button {
  transform: translateY(-40%);
}

.product-details {
  display: grid;
  grid-template-columns: 80% 20px;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.product-details h3 {
  font-size: 10px;
  margin-bottom: 0;
}

.product-details svg {
  width: 15px;
  height: 15px;
}

.product-details svg:hover {
  cursor: pointer;
}

.product-details svg #Vector {
  fill: none;
  transition: all .3s ease-in-out;
}

.product-details svg #Vector_2 {
  stroke: var(--primary-color);
  transition: all .3s ease-in-out;
}

.product-details svg:hover,
svg:active #Vector {
  fill: var(--primary-color);
}

.product-details p {
  font-size: var(--font-size-small);
  padding-top: 10px;
  align-self: last baseline;
}

/* Best deals section */
#best-deals {
  background-color: #f8f9fa;
  padding-top: 40px;
  width: 100vw;
}

#best-deals .categories-header {
  border-bottom: 2px solid #ebecec;
}

.deals-container {
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  gap: 20px;
  margin-top: 20px;
  width: 90vw;
  height: 60vh;
}

.deals-left {
  width: 50%;
  background:
    url(/images/-11591925787cggjhepdvq_1_no-bg.svg) no-repeat 100%,
    #fff;
  background-size: 60%;
  border-radius: 12px;
  height: 90%;
  align-items: center;
  padding: 20px 40px;
}

.left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
}

.left-text h4,
.left-text span {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 16px;
  transition: all .3s ease-in-out;
  width: 80%;
}

.left-text p {
  font-size: 12px;
}

.deals-right-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 90%;
  gap: 20px;
}

.deals-right {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  height: 46%;
  width: 20vw;
  padding: 5px 20px;
  overflow: hidden;
  align-items: center;
}

.deals-right:nth-of-type(1) {
  background: url(/images/3.svg) no-repeat 95%, #fff;
  background-size: 40%;
}

.deals-right:nth-of-type(2) {
  background: url(/images/pngwing\ \(2\).svg) no-repeat 95%, #fff;
  background-size: 40%;
}

.deals-right:nth-of-type(3) {
  background: url(/images/high-angle-smart-speaker-home\ 1.svg) no-repeat 200%, #fff;
  background-size: 80%;
}

.deals-right:nth-of-type(4) {
  background: url(/images/image\ 8.svg) no-repeat 100%, #fff;
  background-size: 50%;
}

.right-text h4,
.right-text span {
  font-size: 12px;
  color: var(--primary-color);
  font-weight: 800;
  transition: all .3s ease-in-out;
  line-height: 16px;
  width: 60%;
}

.deals-container span {
  color: #E0C3FC;
}

.deals-container p {
  margin-bottom: 0;
  margin-top: 12px;
}

.right-text h4:hover,
.left-text h4:hover {
  color: #E0C3FC;
  cursor: pointer;
}

.right-text p {
  font-size: 10px;
}


/* Mobile Responsiveness */
@media (max-width: 1200px) {

  .item-name,
  .price,
  .subtotal {
    font-size: .7rem;
  }

  nav li.desktop {
    display: none;
  }

  nav li.mobile {
    display: block;
  }

  input.mobile {
    display: block;
  }

  .logo-img {
    width: 120px;
    height: 40px;
  }

  nav ul {
    padding: 20px 8vw;
  }

  #hero {
    height: 65vh;
  }

  #hero .the-future {
    height: 100%;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    scale: 0.75;
    margin: -4%;
  }

  .left-text {
    width: 50%;
  }
}

@media (max-width: 860px) {
  #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    height: auto;
  }

  #hero .the-future {
    width: 100%;
  }

  #hero .hero-side {
    width: 100%;
    flex-direction: row;
    height: auto;
  }

  .hero-right {
    width: 48%;
    height: auto;
  }

  .hero-right:nth-of-type(1) {
    background-size: 70% auto, cover;
    background-position: 110% 120%;
  }

  .hero-right:nth-of-type(2) {
    background-size: 80% auto, cover;
    background-position: 200% 120%;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    scale: 0.85;
    margin: -4% -8%;
  }

  .product-img:hover img {
    scale: 1.1;
  }

  .deals-container {
    height: 25vh;
  }

  .left-text {
    width: 60%;
  }

  .right-text h4,
  .right-text span {
    width: 80%;
  }

  .view-all-items {
    font-size: 12px;
  }
}

@media (max-width: 540px) {
  #hero {
    height: 40vh;
  }

  #hero h2,
  .categories-header h4 {
    font-size: 16px;
    padding-top: 20px;
  }

  #hero h4,
  #hero span {
    font-size: 8px;
  }

  #hero .the-future {
    background-size: 60% auto, cover;
    height: 60%;
    font-size: smaller;
    padding: 20px;
  }

  #hero .hero-side {
    height: 40%;
  }

  .hero-right:nth-of-type(1),
  .hero-right:nth-of-type(2) {
    padding: 10px 20px;
    font-size: 12px;
  }

  .categories-header a,
  .categories-header .scroll-arrows {
    font-size: 10px;
    margin-top: 12px;
  }

  .categories-list {
    gap: 0px;
  }

  .categories-list .list {
    min-width: 120px;
    height: 150px;
    gap: 10px;
  }

  .products {
    display: flex;
    justify-content: left;
    align-items: center;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 45vh;
    gap: 16px;
    margin: -2% -8vw;
  }

  .products::-webkit-scrollbar {
    height: 0;
  }

  .deals-container {
    flex-direction: column;
    height: auto;
    width: 100;
    margin: 20px -2%;
  }

  .deals-left,
  .deals-right-container {
    width: 95%;
    height: auto;
  }

  .deals-right-container {
    flex-direction: row;
  }

  .deals-right {
    width: 40vw;
  }
}

@media (max-width: 420px) {
  #hero {
    height: 42vh;
  }

  .products {
    height: 35vh;
  }

  .product-item {
    scale: 0.80;
    margin-left: -5%;
  }
}

@media (max-width: 360px) {
  .products {
    height: 30vh;
  }

  .deals-right {
    width: 38vw;
    background-size: 35% !important;
  }
}

@media (max-width: 320px) {
  #hero {
    height: 45vh;
  }

  #hero h2 {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 20px;
    z-index: 10;
    font-weight: 600;
  }

  .the-future button {
    padding: 6px 15px;
    font-size: 10px;
    margin-top: 10px;
  }

  .products {
    height: 45vh;
  }

  .product-item {
    scale: 0.55;
    margin-right: -20%;
    margin-left: -10%;
  }

  .product-details h3,
  .product-details p {
    font-size: 16px;
  }

  .shop-now {
    margin-top: 0;
  }

  .deals-container {
    width: 100%;
  }

  .deals-right {
    width: 36vw;
  }

  .right-text h4,
  .right-text span {
    width: 100%;
  }
}