:root {
  --primary-color: rgb(72, 19, 121);
  --font-size-small: 14px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand';
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* navbar style */
nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
}

span.cart-counter,
span.fav-counter {
  display: none;
  background-color: rgb(72, 19, 121);
  color: white;
  border-radius: 50%;
  width: 12px;
  text-align: center;
  font-size: 8px;
  height: 12px;
  position: absolute;
}

nav a:hover {
  color: black;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #f8f9fa;
}

.input {
  border-radius: 20px;
  width: 50vw;
  height: 40px;
  border: 2px solid var(--primary-color);
  padding: 10px;
}

input.mobile {
  display: none;
  width: 80%;
  margin: auto;
}

nav input {
  border-radius: 20px;
  width: 50vw;
  height: 40px;
  border: 2px solid var(--primary-color);
  padding: 10px;
}

nav input,
input.mobile {
  outline: none;
}

nav li.mobile {
  display: none;
}

div.mobile-menu {
  display: none;
  height: 100vh;
  background-color: rgba(72, 19, 121, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 500;
  line-height: 50px;
  padding: 10px 30px;
  backdrop-filter: blur(10px);
}

div.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  color: var(--primary-color);
}

div.mobile-menu ul a {
  text-decoration: none;
  color: var(--primary-color);
}

div.mobile-menu ul a:hover {
  color: rgba(72, 19, 121, 0.3);
}

.logo-img {
  width: 200px;
  height: 50px;
}

main {
  height: 100%;
}

section.categories-list {
  height: 100vh;
  width: fit-content;
  padding: 20px;
  /* position: fixed;
  left: 0; */
}
section.categories-list ul {
  list-style-type: none;
  padding: 0;
}
section.categories-list ul h1 {
  margin-bottom: 20px;
}
section.categories-list ul a {
  color: #000;
  font-size: 1.1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 40px;
  gap: 60px;
  grid-row-gap: 40px;
}

.products .product-item {
  width: 200px;
  height: 250px;
  transition: all .3s ease-in-out;
}

.products .product-item .product-img {
  width: 200px;
  height: 200px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 13px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.product-img img {
  width: 120px;
  height: 120px;
}

.cart-button {
  position: absolute;
  bottom: 0;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  padding: 10px 10px;
  width: 160px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all .3s ease;
  transform: translateY(100%);
}

.cart-button:hover {
  background-color: rgb(100, 50, 170);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
}

.product-img:hover .cart-button {
  transform: translateY(-40%);
}

.product-details {
  display: grid;
  grid-template-columns: 80% 20px;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.product-details h3 {
  font-size: 10px;
  margin-bottom: 0;
}

.product-details svg {
  width: 15px;
  height: 15px;
}

.product-details svg:hover {
  cursor: pointer;
}

.product-details svg #Vector {
  fill: none;
  transition: all .3s ease-in-out;
}

.product-details svg #Vector_2 {
  stroke: var(--primary-color);
  transition: all .3s ease-in-out;
}

.product-details svg:hover,
svg:active #Vector {
  fill: var(--primary-color);
}

.product-details p {
  font-size: var(--font-size-small);
  padding-top: 10px;
  align-self: last baseline;
}

@media (max-width: 700px) {

  .item-name,
  .price,
  .subtotal {
    font-size: .7rem;
  }

  nav li.desktop {
    display: none;
  }

  nav li.mobile {
    display: block;
  }

  .logo-img {
    width: 120px;
    height: 40px;
  }

  nav ul {
    padding: 20px 8vw;
  }
}